$color-base: #E9E9E9;
$color-base-light: #fafafa;

$color-gray: #666666;
$color-gray-light: #aaabac;

$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-blue: #1E70FF;
$color-blue-right: #4082f5;

$color-red: #FF0000;

$color-white: #fff;
$color-black: #000;