<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/partial/common :: head_fragment(~{::title})">
    <title>ログインページ</title>
</head>
<body>
<div class="login">
    <div class="login__form">
        <h3 class="login__form__title u-margin-bottom-small">Sign in</h3>
        <form th:action="@{/login}" method="post" class="form">
            <div th:text="${message}" class="u-info-massage u-center-text" id="error-message">
                ユーザー登録が完了しました。
            </div>
            <div th:if="${param.error}" class="u-error-massage u-center-text">
                メールアドレスまたはパスワードが間違っています。
            </div>
            <div th:if="${param.logout}" class="u-info-massage u-center-text">
                ログアウトしました。
            </div>
            <div class="form__group u-margin-bottom-medium">
                <input type="email" required="required"
                placeholder="メールアドレス" class="form__input" name="emailAddress">
            </div>
            <div class="form__group u-margin-bottom-medium">
                <input type="password" required="required"
                       placeholder="パスワード" class="form__input" name="password">
            </div>
            <div class="form__group u-margin-bottom-small u-center-text">
                <input type="submit" value="sign in" class="form__submit"/>
            </div>
            <div class="login__form__link">
                <a th:href="@{/users/create}">アカウント登録はこちら</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>